asyncio
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
GPUtil
aiohttp
moviepy
natsort
opencv-python
Pillow
psutil
pytz
#pyroblack
git+https://github.com/KurimuzonAkuma/pyrogram.git
requests
tgcrypto
uvloop
yt_dlp
pymegatools
